{% extends "main/footer.html" %}
<html>

<head>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/obj_detection.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css'%}">

  <style type="text/css">
    /* unvisited link */
  </style>
</head>




{% block content %}

<body style="background-color: #696969;">

  <table style="border: 0; padding: 0px; border-spacing: 0px; position: relative;">
    <tr style="padding: 0px;margin: 0px;">

      <div>

        <td
          style="background-color: #FF0000; height: 400px; width: 50%; text-align: center;  background-image: linear-gradient(to right, #FF0000, #FF7A00);">


          <a href="obj_detection" style="text-align: center;">
            <center>
              <div style=" 
                             width: 100%;
                             height: 400px;
                             background-image: linear-gradient(to right,#FF0000 , #FF7A00);
                             border-radius: 10px;
                             
                            " class="col">
                <h2 style="margin: auto; color: white; font-family: impact; transform: translate(0%,280%);"> Object
                  Detection</h2>

              </div>
            </center>
          </a>

        </td>

      </div>

      <td
        style="background-color: #369EFE; height: 400px; width: 50%; text-align: center; background-image: linear-gradient(to right, #59AFFE, #00FFE0);">



        <a href="face_recognition" style="text-align: center;">
          <center>
            <div style=" 
                             width: 100%;
                             height: 400px;
                             background-image: linear-gradient(to right, #59AFFE, #00FFE0);
                             border-radius: 10px;
                             
                            " class="col">
              <h2 style="margin: auto; color: white; font-family: impact; transform: translate(0%,280%);"> Face
                Recognition</h2>

            </div>
          </center>
        </a>

      </td>

    </tr>


    <tr>
      <td
        style="background-color: #FF00F5; height: 400px; width: 50%; text-align: center; background-image: linear-gradient(to right, #FF00F5, #FE2828);">


        <a href="music_generation" style="text-align: center;">
          <center>
            <div style=" 
                             width: 100%;
                             height: 400px;
                             background-image: linear-gradient(to right, #FF00F5, #FE2828);
                             border-radius: 10px;
                             
                            " class="col">
              <h2 style="margin: auto; color: white; font-family: impact; transform: translate(0%,280%);"> Music
                Generation</h2>

            </div>
          </center>
        </a>


      </td>



      <td style="background-color: #52FF00; height: 400px; width: 50%; text-align: center;
                background-image: linear-gradient(to right, #52FF00, #00FFE0);">


        <a href="face_generation" style="text-align: center;">
          <center>
            <div style=" 
                             width: 100%;
                             height: 400px;
                             background-image: linear-gradient(to right, #52FF00, #00FFE0);
                             border-radius: 10px;
                             
                            " class="col">
              <h2 style="margin: auto; color: white; font-family: impact; transform: translate(0%,280%);"> Image
                Generation</h2>

            </div>
          </center>
        </a>

      </td>
    </tr>

  </table>

  <br><br>
  <br><br>
  <br><br>

  <div>
    <center>
      <h2 style="margin: auto; color: Black; font-family: impact;"> Purpose </h2>
      <p
        style="padding-top: 30px;color: white; font-family: Andale Mono; font-size: 20px; padding-left: 60px; padding-right: 60px;">
        Just showing off my skills in <a href="Extras/"><i style="color: #FD6E6E"> Artificial Intelligence. </i></a>
      </p>




      <br>
      <br>
      <br>
      <br>
      <br>
</body>

{% endblock %}





</html>